@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  background-color: white;
  margin: 0;
  font-size: 18px;
  display: flex;
  justify-content: center;
  color: #2d3233;
}

.container {
  width: 80%;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3,
p {
  background-color: inherit;
  color: #2d3233;
}

.container-header {
  font-size: 2em;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

p {
  margin: 0;
  padding: 0;
}

.links {
  transition: color 0.5s;
  color: #2d3233;
}

.links:hover {
  color: #f598bb;
}

.green-text {
  color: #24b091;
}

.pink-text {
  color: #f598bb;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2d3233;
}

.border {
  box-shadow: 0px 0px 50px #eeeeee;
  padding: 2em;
}

.submit-btn {
  background-color: #24b091;
  border: none;
  border-radius: 6px;
  color: white;
  padding: 1em 1.4em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  transition-duration: 0.5s;
  width: 100%;
}

.submit-btn:disabled {
  background-color: lightgray;
}

.submit-btn:hover {
  color: white;
  background-color: #fcc82f;
}

header {
  margin: 2em 0em 1em 0em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 1.5em;
}

footer {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  margin: 3em 0 0.7em 0;
  gap: 5em;
}

.footer-list {
  display: flex;
  gap: 1em;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.legit-links {
  display: flex;
  gap: 1.5em;
}

.footer-section:last-child {
  font-size: 0.7em;
}

.social-media {
  margin: 2em 0;
  width: 2em;
  filter: invert(48%) sepia(95%) saturate(312%) hue-rotate(117deg)
    brightness(98%) contrast(98%);
}

.social-media:hover {
  filter: invert(72%) sepia(6%) saturate(3120%) hue-rotate(293deg)
    brightness(99%) contrast(94%);
}

@media screen and (max-width: 1000px) {
  header {
    margin: 2em 0em 1em 0em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
  }
  .banner-header {
    font-size: 1.5em;
  }
  footer {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    margin: 2.5em 0 0.7em 0;
    gap: 3em;
  }
}

@media screen and (max-width: 580px) {
  .nav-links {
    font-size: 0.8em;
  }
  .container-header {
    font-size: 1.2em;
  }
  footer {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    margin: 2em 0 0.7em 0;
    gap: 1.5em;
  }
}
